{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-primary mb-4">📊 Dashboard</h2>

    <div class="row">

        <div class="col-md-4">
            <div class="card bg-primary text-white mb-3">
                <div class="card-body">
                    <h5>Total Books</h5>
                    <h2>{{ total_books }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-success text-white mb-3">
                <div class="card-body">
                    <h5>Total Students</h5>
                    <h2>{{ total_students }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-warning text-dark mb-3">
                <div class="card-body">
                    <h5>Books Issued</h5>
                    <h2>{{ total_issued }}</h2>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="row">

    <div class="col-md-6">
        <div class="card bg-info text-white mb-3">
            <div class="card-body">
                <h5>Books Returned</h5>
                <h2>{{ total_returned }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-secondary text-white mb-3">
            <div class="card-body">
                <h5>Available Books</h5>
                <h2>{{ available_books }}</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}