{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="text-center">

        <h1 class="display-4 fw-bold text-primary">
            Welcome to Library Management System
        </h1>

        <p class="lead mt-3">
            Manage books, students, and book issuing efficiently.
        </p>

        <a href="#" class="btn btn-primary btn-lg mt-3">
            View Books
        </a>

    </div>

</div>

{% endblock %}