{% extends 'base.html' %}

{% block title %}
Issued Books
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2 class="text-primary">
            📖 Issued Books
        </h2>

        <a href="{% url 'issue_book' %}" class="btn btn-success">
            + Issue Book
        </a>

    </div>

    <table class="table table-bordered table-striped text-center align-middle">

        <thead class="table-primary">

            <tr>
                <th>Student</th>
                <th>Book</th>
                <th>Issue Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
                 <th>Fine</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

        </thead>

       <tbody>

{% for issue in issues %}

<tr {% if issue.status == "Issued" and issue.due_date < today %}class="table-danger"{% endif %}>

    <!-- Student -->
    <td>
    <a href="{% url 'student_history' issue.student.id %}"
       class="text-decoration-none fw-bold">
        {{ issue.student.name }}
    </a>
</td>

    <!-- Book -->
    <td>{{ issue.book.title }}</td>

    <!-- Issue Date -->
    <td>{{ issue.issue_date }}</td>

    <!-- Due Date -->
    <td>
        {% if issue.status == "Issued" and issue.due_date < today %}
            <span class="text-danger fw-bold">
                {{ issue.due_date }}
            </span>
        {% else %}
            {{ issue.due_date }}
        {% endif %}
    </td>

    <!-- Return Date -->
    <td>
        {% if issue.return_date %}
            <span class="text-success fw-bold">
                {{ issue.return_date }}
            </span>
        {% else %}
            -
        {% endif %}
    </td>

    <!-- Fine -->

<td>
    {% if issue.current_fine > 0 %}
        <span class="text-danger fw-bold">
             ₹{{ issue.current_fine|floatformat:2 }}
        </span>
    {% else %}
        -
    {% endif %}
</td>

    <!-- Status -->
    <td>
        {% if issue.status == "Returned" %}
            <span class="badge bg-success">Returned</span>

        {% elif issue.status == "Issued" and issue.due_date < today %}
            <span class="badge bg-danger">Overdue</span>

        {% else %}
            <span class="badge bg-warning text-dark">Issued</span>
        {% endif %}
    </td>

    <!-- Action -->
    <td>
        {% if issue.status == "Issued" %}
            <a href="{% url 'return_book' issue.id %}"
               class="btn btn-success btn-sm"
               onclick="return confirm('Return this book?')">
                Return
            </a>
        {% else %}
            -
        {% endif %}
    </td>

</tr>

{% empty %}

<tr>
    <td colspan="8" class="text-center">
        No books issued.
    </td>
</tr>

{% endfor %}

</tbody>

    </table>

</div>

{% endblock %}