{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="max-width:500px;">

    <h2 class="text-center mb-4">Login</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            Invalid username or password.
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label>Password</label>
            {{ form.password }}
        </div>
        
        <input type="hidden" name="next" value="{{ next }}">

        <button type="submit" class="btn btn-primary w-100">
            Login
        </button>

    </form>

</div>

{% endblock %}